<<<<<<< HEAD
<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset">
      <h1>
        <strong>About</strong>
      </h1>
=======
<h1>ホームアバウト</h1>
<div class="sample1">
       ながのCakeは全国発送可能なケーキ屋さんです。<br>
       お子様からお年寄りの方までお召し上がりいただけるよう、<br>
       様々なバリエーションをご用意しております。<br>
       また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
       ぜひご注文ください。
>>>>>>> 8876049db369ffaa1fda415394f53c2275b4ef36
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="sample1">
        ながのCakeは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
        ぜひご注文ください。
      </div>
    </div>
  </div>
</div>