<div class="row">
  <div class="col-xs-12">
    <h2>注文情報入力</h2>
    <% if current_customer.into_carts.present? %>
    <%= render "layouts/error_messages", resource: @order%>
    
    <%= form_with :model => @order, url:orders_path, method: :post, local: true  do |f| %>
    
      <div class="col-xs-10 radio">
            <%= f.radio_button :payment_method, :"クレジットカード", checked: true %>
            <span>&nbsp;クレジットカード</span>
          </div>
          <div class="col-xs-10 radio">
            <%= f.radio_button :payment_method, :"銀行振込" %>
            <span>&nbsp;銀行振り込み</span>
          </div>
  </div>
</div>
