<div class="container">
  <div class="row">
    <h2 class="header-background col-xs-8 col-xs-offset-2">ショッピングカート</h2>
  </div>

<<<<<<< HEAD
  <div class="row">
    <div class="col-xs-12">
      <% if @into_carts.present? %>
    </div>
  </div>

  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
    </thead>
=======
<% if @into_carts.present? %>
 <div>
  <%= link_to " カートを空にする", delete_all_into_carts_path, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: "btn btn-danger" %>
 </div>
<table>
 <thead>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
 </thead>
>>>>>>> 8876049db369ffaa1fda415394f53c2275b4ef36

    <tbody>
      <tr>
      <% @into_carts.each do |into_cart| %>
       <td>商品名</td>
       <td>単価（税込）</td>
       <td>数量</td>
       <td>小計</td>
       <td>削除</td>
      </tr>
      <% end %>
    </tbody>

  </table>
  <% end %>
</div>